@mixin clearfix {
  zoom:1;
  &:after { 
    content:""; 
    display:table; 
    clear: both;
  }
}

@mixin link {
  color: #000;
  border-bottom: 1px dashed $main-color;
  transition: all 0.2s ease-out;
  
  &:hover {
    color: $main-color;
  }
}