.service-nav {
  display: none;
}

@media (min-width: $desktop-width) {
  
  .service-nav__item {
    display: inline-block;
    margin-right: 25px;
    
    &:last-child {
      margin-right: 0;
    }
  }
  .service-nav__link {
    font-family: "Exo2 Medium", arial;
    font-weight: 500;
    font-size: 14px;
    color: $main-color;
  }
}

@media (min-width: $large-width) {
  .service-nav {
    display: inline-block;
  }
}